<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.modulea">

    <application
        android:name="com.example.basemodule.BaseApplication"
        android:allowBackup="true"
        android:label="我是ModuleA"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:replace="android:label">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.ui.TestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.MvvmActivity"
            android:exported="false" />
        <activity android:name=".mvvm.openthreadtest.OpenThreadActivity" />
    </application>

</manifest>
