<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.modulea">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".mvp.ui.TestActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".mvvm.MvvmActivity" />
        <activity android:name=".mvvm.openthreadtest.OpenThreadActivity" />
        <activity android:name=".ThreadCommunicationActivity" />
    </application>

</manifest>
